<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369478068590-q5gfchcvhs9uao2hkcvosnepr793b831.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369478068590-q5gfchcvhs9uao2hkcvosnepr793b831</string>
	<key>API_KEY</key>
	<string>AIzaSyBbP6hMHfogCNDjVW2DaYz1Q-YnMBycKrE</string>
	<key>GCM_SENDER_ID</key>
	<string>369478068590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SIB.Production.Meal-Prep-Sunday</string>
	<key>PROJECT_ID</key>
	<string>meal-prep-sunday-16767</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-prep-sunday-16767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369478068590:ios:85c84dad250c4a4d63b97f</string>
	<key>DATABASE_URL</key>
	<string>https://meal-prep-sunday-16767.firebaseio.com</string>
</dict>
</plist>